<br>
<div>
  <div class="right">
    <%= link_to "Register Event", new_event_path, class: 'btn btn-default' %>
    <%= link_to "Add Event Video", new_video_path, class: 'btn btn-default' %>
  </div>
</div>

<div class="container">
  <%= link_to "Recent Videos", videos_path(:vfilter1 => "recentvideos"), :id => "btn_video_recent", :class => "btn btn-default"  %>
  <button type="button" class="btn btn-default" aria-label="Left Align" id="btn_video_title">Search by Title
    <span class="caret" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-default" aria-label="Left Align" id="btn_video_college">Search by College
    <span class="caret" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-default" aria-label="Left Align" id="btn_video_event">Search by Event
    <span class="caret" aria-hidden="true"></span>
  </button>


  <div id="div_search_video_title" class="pad search">
    <%= render partial: "videos/bytitle", locals: { videos: @videos } %>
  </div>
  <div id="div_search_video_college" class="pad search">
    <%= render partial: "videos/bycollege", locals: { videos: @videos } %>
  </div>
  <div id="div_search_video_event" class="pad search">
    <%= render partial: "videos/byevent", locals: { videos: @videos } %>
  </div>
  
</div>
<br>
<p>Currently showing: <%= @menu %></p>
<div class="pad">
  <%= render partial: "videos/videoslist", locals: { videos: @videos } %>
</div>
