<br>
<div>
  <div class="right">
    <%= link_to "Register Event", new_event_path, class: 'btn btn-default' %>
    <%= link_to "Add Event Video", new_video_path, class: 'btn btn-default' %>
  </div>
</div>
<h5>option: <%= @menu %></h5>
<div class="container">
  <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="collapse" data-target="#demo">Search by Title
    <span class="caret" aria-hidden="true"></span>
  </button>

  <div id="demo" class="collapse">
    <%= form_tag videos_path, :method=> "get" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Enter video title" %>
      <%= hidden_field_tag "vfilter1", "videosbytitle" %>
      <%= button_tag(type: "submit") do %>
        <i class="glyphicon glyphicon-search"></i>
      <% end %>
    <% end %>
  </div>
</div>
<div class="pad">
  <%= render partial: "videos/videoslist", locals: { videos: @videos } %>
</div>
