<br>
<div>
  <div class="right">
    <%= link_to "Register Event", new_event_path, class: 'btn btn-default' %>
    <%= link_to "Add Event Video", new_video_path, class: 'btn btn-default' %>
  </div>
</div>
<br>
<h5>option: <%= @menu %></h5>
<div class="pad">
    <% if @menu == 'upcomingevents' %>
      <%= render partial: "events/upcoming", locals: { events: @events } %>
    <% end %>
    <% if @menu == 'eventsbyname' %>
      <%= render partial: "events/byname", locals: { events: @events } %>
    <% end %>
    <% if @menu == 'eventsbycollege' %>
      <%= render partial: "events/bycollege", locals: { events: @events } %>
    <% end %>
    <% if @menu == 'eventsbycity' %>
      <%= render partial: "events/bycity", locals: { events: @events } %>
    <% end %>
    <% if @menu == 'eventsbytype' %>
      <%= render partial: "events/bytype", locals: { events: @events } %>
    <% end %>
</div>
