<br>
<div>
  <div class="right">
    <%= link_to "Register Event", new_event_path, class: 'btn btn-default' %>
    <%= link_to "Add Event Video", new_video_path, class: 'btn btn-default' %>
  </div>
</div>

<div class="container">
  <%= link_to "All Upcoming Events", events_path(:efilter1 => "upcomingevents"), :id => "btn_upcoming", :class => "btn btn-default"  %>
  <button type="button" class="btn btn-default" aria-label="Left Align" id="btn_name">Search by Name
    <span class="caret" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-default" aria-label="Left Align" id="btn_college">Search by College
    <span class="caret" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-default" aria-label="Left Align" id="btn_city">Search by City
    <span class="caret" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-default" aria-label="Left Align" id="btn_type">Search by Type
    <span class="caret" aria-hidden="true"></span>
  </button>

  <div id="div_search_name" class="pad search">
    <%= render partial: "events/byname", locals: { events: @events } %>
  </div>
  <div id="div_search_college" class="pad search">
    <%= render partial: "events/bycollege", locals: { events: @events } %>
  </div>
  <div id="div_search_city" class="pad search">
    <%= render partial: "events/bycity", locals: { events: @events } %>
  </div>
  <div id="div_search_type" class="pad search">
    <%= render partial: "events/bytype", locals: { events: @events } %>
  </div>
</div>
<br>
<p>Currently showing: <%= @menu %></p>
<div class="pad">
  <%= render partial: "events/detail", locals: { events: @events } %>
</div>
